* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     flex-direction: column;
     text-align: center;
}

button {
     font-size: 2rem;
     background-color: darkblue;
     color: white;
     box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
     border-radius: 1rem;
     padding: 2rem;
     border: none;
     user-select: none;
     outline: none;
}

.lights {
     background: white;
     color: black;
}

.darks {
     background: black;
     color: white;
}